@font-face {
    font-family: Gilroy;
    src: url(../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.parent {
    height:100vh;
    width:100vw;
    background-color: rgba(6, 6, 6, 0.7);
    display:grid;
    place-items: center;
    overflow-y: auto;
    z-index: 60;
    position:fixed;
    top:0;
    left:0;
}

.content{
    width:45%;
    /* height:90%; */
    background-color: white;
    border-radius: 16px;
    position: relative;
    padding:35px;
    padding-top:2em;
}
.contentholder {
    width:55%;
    justify-content: center;
    align-items: center;
    margin: auto;

    img{
        width:100px;
        justify-content: center;
        margin: auto;
        align-items: center;
        display: flex;
        margin-bottom: 1em;
    }
}

.closemodal {
    position: absolute;
    top: 1rem;
    right:4rem;
    width:7px;
    cursor: pointer;
}

.modalhead {
    color: var(--black, #00040F);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    justify-content: center;
    margin: auto;
    align-items: center;
    display: flex;
}

.modalpara {
    color: var(--grey-text, #999);
    text-align: center;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.requestbut {
    justify-content: center;
    align-items: center;
    // display: flex;
    margin-top:1.5em;
}

.btnrequest {
    gap: 10px;
      border: none;
      height: 44px;   
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9em;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      width: 100%;
      background: #ff5800;
      border-radius: 10px;
  }

  .btnrequest:hover {
    background: #ff5800;
    color: #ffffff;
  }