@font-face {
    font-family: Gilroy;
    src: url(../../shared/utils/fonts/Gilroy-Regular.ttf);
}

.parent{
    margin-top: 4em;
}

.content {
    padding: 2em 2em;
    display: flex;
    margin-top: -4em;
    z-index: 3000 !important;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.box1 {
    margin-top: 0.5em;
    margin: 1px;
}

.downlink{
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width:960px) {
    .content{
       padding: 0 !important;
    }
}

